# This is a basic workflow to help you get started with Actions

name: Update Database

concurrency: 
  group: database-build


# Controls when the action will run. 
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '15 4 * * *'    

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: upgrade sqlite3
        run: |
          sudo add-apt-repository ppa:linuxgndu/sqlitebrowser-testing
          sudo apt-get update
          sudo apt-get install sqlite3
        
      - name: install requirements
        run: pip install -r requirements.txt

      - name: alternate scrape portion
        run: if [ $((GITHUB_RUN_NUMBER % 2)) -eq 0 ]; then export FILING_CHUNK=head; else export FILING_CHUNK=tail; fi

      # Runs a single command using the runners shell
      - name: build database
        run: make

      - name: setup asset
        run: |
          mkdir public
          zip nlrb.db.zip nlrb.db

      - name: release
        uses: WebFreak001/deploy-nightly@v1.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # automatically provided by github actions
        with:
          upload_url: https://uploads.github.com/repos/labordata/nlrb-data/releases/46019246/assets{?name,label}
          release_id: 46019246
          asset_path: ./nlrb.db.zip # path to archive to upload
          asset_name: nlrb.db.zip # name to upload the release as, use $$ to insert date (YYYYMMDD) and 6 letter commit hash
          asset_content_type: application/zip # required by GitHub API
          max_releases: 7 # optional, if there are more releases than this matching the asset_name, the oldest ones are going to be deleted
